<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:fragment="head">
    <title>The Fictional University Incubator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header th:fragment="navigation" id="header">
    <div class="container-fluid">
    <div class="inner">
        <nav class="navbar navbar-expand-lg bg-nav rounded">
            <a href="/">The Fictional University Incubator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                <button type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Panel
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/statistics">Statistics</a>
                    <a class="dropdown-item" href="/activities/add">Add Activity Type</a>
                    <a class="dropdown-item" href="/users/manage">Manage users</a>
                    <a class="dropdown-item" href="/roles/add">Manage admin roles</a>
                </div>
            </div>


            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">

                    <li class="nav-item">
                        <a
                                sec:authorize="!isAuthenticated()"
                                th:href="@{/users/login}">Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <!--                        <a class="nav-link text-white active "-->
                        <a
                                sec:authorize="!isAuthenticated()"
                                th:href="@{/users/register}">
                            Register
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ">
                        <a href="/projects/all">Manage projects</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ">
                        <a href="/projects/owned">My Projects</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ">
                        <a href="/ideas/add">Add Idea</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ">
                        <a  href="/ideas/all">Ideas</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">

                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" >
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    </div>
</header>

<footer th:fragment="footer" id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; The Fictional University Incubator. 2021
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>