<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-layout :: head_top"></head>
<head>
    <title>WORTH PRODUCTS STORE</title>
</head>
<head th:replace="fragments/main-layout :: head_bottom"></head>

<body>
<header th:replace="fragments/main-layout :: header"></header>
<h1 class="text-light border-left pl-2 bg-blur">Products For Sale Added By Me</h1>
<h2 th:text="|Total quantity of all added products: ${totalProductsSold}|" class="text-light border-bottom bg-blur">Total added instances of all products: 10000</h2>
<main class="p-5 align-content-center bg-blur my-main d-flex justify-content-center">
    <div class="row">
        <div th:each="prod : ${productViewModels}" class="col-md-3">
            <div class="card mb-4 box-shadow">
                <img src="/image/metallica.jpg" th:src="${prod.imageUrl}" class="card-img-top" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p th:text="|Product: ${prod.name}|" class="card-text border-bottom ">Name: Name of product</p>
                        <p th:text="|Category: ${prod.categoryEntity.name}|" class="card-text border-bottom ">Artist: Metallica</p>
                        <p th:text="|Genre: ${prod.genre.name()}|" class="card-text border-bottom ">Genre: Metal</p>
                        <p th:text="|Price: ${prod.price}|" class="card-text border-bottom ">Price: 19.99</p>
                        <p th:text="|Release Date: ${prod.releaseDate}|" class="card-text border-bottom">Release Date: </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a
                                th:href="@{/products/delete/{id}(id = *{prod.id})}"
                                type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                        <small th:text="|Quantity: ${prod.quantity}|" class="text-muted">Quantity: 1000</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/main-layout :: footer" class="footer bg-blur"></footer>
</body>
</html>
