<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/main-layout :: head">
</head>

<body>

<!-- Header -->
<header th:replace="fragments/main-layout :: navigation">
</header>
<main class="container-fluid flex-fill">
    <div class="container-fluid">

<!-- Banner -->
<section id="banner">
    <section id="banner_text">

    <h1>Welcome to the Fictional University Incubator</h1>

    <p>Plan your innovation sessions with us!</p>
    </section>
</section>
</div>
<!-- One -->
    <div class="container-fluid">

<section id="one" class="wrapper">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                    <h3>Browse users' blueprints</h3>
                </header>
                <p>Our incubator is a shared space for collaboration. Users have shared blueprints for innovation products they would like to carry out in one of our premises. See te blueprints and join us in our innovation activities.</p>
                <footer>
                    <a href="/blueprints/all" class="button special">See all blueprints</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Share your own blueprint</h3>
                </header>
                <p>Registered users of the Fictional University Incubator can publish their blueprints. Valuable blueprints will be launched as products. Propose an blueprint and get collaborators from various fields.</p>
                <footer>
                    <a href="/blueprints/add" class="button special">Share blueprint</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Join a product as collaborator</h3>
                </header>
                <p>Interested in a upcoming product? Registered users can join products as collaborators.</p>
                <p>Join professionals from various fields to innovate and realize new blueprints!</p>
                <footer>
                    <a href="/products/all" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>
</div>

<!-- Two -->
</main>
<!-- Footer -->
<footer th:replace="fragments/main-layout :: footer" class="footer bg-blur">
</footer>


</body>
</html>
