<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/main-layout :: head">
</head>
<body>

<!-- Header -->
<header th:replace="fragments/main-layout :: navigation">
</header>

<main class="container-fluid flex-fill">
    <div class="container-fluid">

        <!-- Banner -->
        <section id="banner_generic">
            <h1>Publish product results</h1>
        </section>
    </div>

    <!-- Text -->

    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:object="${productResultBindingModel}"
                    th:action="@{/products/publish/{id}(id=${id})}"
                    method="POST">
                <!-- Name -->
                <div>
                    <div class="col-auto">
                        <label for="inputName" class="col-form-label ">Name</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="${current.name}"
                                name="name"
                                type="text"
                                id="inputName"
                                class="form-control"
                                aria-describedby="nameHelpInline">


                    </div>
                </div>
                <!-- Sector -->
                <div>
                    <div class="col-auto">
                        <label for="inputSector" class="col-form-label ">Sector</label>
                    </div>
                    <select class="browser-default custom-select"
                            id="inputSector" name="sector"
                            th:field="${current.sector}"
                            th:value="${current.sector}"
                            th:errorclass="is-invalid">
                        <option value="">Select sector</option>
                        <option th:each="c : ${T(com.w.prod.models.entity.enums.Sector).values()}"
                                th:text="${c}" th:value="${c}">Value
                        </option>
                    </select>
                    <small class="invalid-feedback text-light form-text bg-danger rounded">You must
                        select the sector</small>
                </div>

                <!-- EO: Sector-->
                <!-- Description -->
                <div>
                    <div>
                        <label for="inputDescription" class="col-form-label ">Description</label>
                    </div>
                    <div>
                                        <textarea name="description"
                                                  th:field="*{description}"
                                                  th:value="*{description}"
                                                  th:errorclass="is-invalid"
                                                  required minlength="50" maxlength="5000"
                                                  id="inputDescription"
                                                  class="form-control"
                                                  aria-describedby="descriptionInline">
                                        </textarea>
                        <small id="descriptionError"
                               class="invalid-feedback text-light form-text bg-danger rounded">The description must be
                            at least 50 characters long and not longer than 5000 characters</small>
                    </div>
                </div>
                <!--                                 EO: Description -->


                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-dark btn-block w-50" type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
    <!-- Footer -->
    <footer th:replace="fragments/main-layout :: footer" class="footer bg-blur">
    </footer>
</main>
<script src="/js/show-text.js">
</script>
<script>
    window.onload = textHandler();
</script>
</body>
</html>
