<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head">
</head>
<body >
<header th:replace="fragments/commons :: navigation">
</header>

<main class="container-fluid flex-fill">
<div class="container-fluid">

    <!-- Banner -->
    <section id="banner_generic">
        <h1>Projects</h1>
    </section>
</div>
<!-- Text -->

    <div class="container-fluid">
<p></p>
        <div class="mt-5 col-sm-12 my-auto align-self-center">
            <button id="all" type="button">Show all</button>
            <button id="own" type="button">Show my projects</button>
            <button id="collabs" type="button">Show my collaborations</button>
            <p></p>
            <input id="searchInput" class="form-control mr-sm-2 w-50 btn-secondary"  type="search"
               placeholder="Enter search term for project name or sector" aria-label="Search">


        </div>
        <p></p>
        <div id="confirm" class="alert alert-success" role="alert" th:text="${message}"></div>

        <table>

    <table class="alt">
            <thead>
            <tr>
                <th>Name</th>
                <th>Sector</th>
                <th>Start Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="projectList">
<!--            <tr th:each="p : ${projects}" th:object="${p}">-->
<!--                <td th:text="*{name}"></td>-->
<!--                <td th:text="*{sector}"></td>-->
<!--                <td th:text="*{startDate}"></td>-->
<!--                <td>-->
<!--                    <a th:href="@{/projects/details/{id}(id=*{id})}">-->
<!--                        <button type="button">Details</button></a>-->
<!--                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="text-danger" th:href="@{/projects/archive/{id}(id=*{id})}">-->
<!--                        <button type="button">Archive</button></a>-->
<!--                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="text-danger" th:href="@{/projects/delete/{id}(id=*{id})}">-->
<!--                        <button class="bg-danger" type="button">Delete</button></a>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>

        </table>
    </div>

<footer th:replace="fragments/commons :: footer" class="footer bg-blur">
</footer>
</main>
<script th:src="@{/js/search-bar.js}"></script>
<script th:src="@{/js/confirmation.js}"></script>

</body>
</html>
